@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@500&family=Inter:wght@400;500;700&family=Josefin+Sans:wght@300&family=Lobster&family=Orbitron:wght@800&family=Righteous&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.item {
		@apply mx-2 group-hover:border-b group-hover:border-blue-50;
	}
	.heder-text {
		@apply max-w-lg mt-32 mb-32 p-4 font-sans text-4xl text-white uppercase border-2 md:p-10 md:m-32 md:mx-0 md:text-6xl;
	}
}

#hero {
	background-image: url('../public/mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25;
	position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 24px;
	height: 2px;
	top: 0;
	left: 0;
	left: 0;
	background: white;
	transform: rotate(0);
	transition: 0.5 ease-out;
}
.hamburger-middle {
	transform: translateY(7px);
}
.hamburger-bottom {
	transform: translateY(14px);
}
.open {
	transform: rotate(90deg);
}
.close {
	transform: rotate(0deg);
}
.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
	display: none;
}
.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.menu {
	display: hidden;
}
