/* @import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@500&family=Inter:wght@400;500;700&family=Josefin+Sans:wght@300&family=Lobster&family=Orbitron:wght@800&family=Righteous&family=Shadows+Into+Light&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@layer base {
	h5 {
		@apply text-xl md:text-2xl absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 
		md:px-10 group-hover:scale-110 group-hover:text-black;
	}
}
@layer components {
	.header-text {
		@apply max-w-lg mt-32 mb-32 p-4 text-4xl text-white border-2 border-black md:p-10 md:m-32 md:mx-0 md:text-6xl font-Josefin;
	}

	.nav-animation {
		@apply ease-in-out duration-300;
	}
}

.gallery {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25;
	position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 24px;
	height: 2px;
	top: 0;
	right: 0;

	background: white;
}
.hamburger-middle {
	transform: translateY(7px);
}
.hamburger-bottom {
	transform: translateY(14px);
}
.open {
	transform: rotate(90deg);
}
.close {
	transform: rotate(0deg);
}
.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
	display: none;
}
.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.menu {
	display: hidden;
}
.svg {
	filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
		brightness(118%) contrast(119%);
}

/* ANIMATION */
.move-in-left {
	animation: moveInLeft 1s ease-out;
}
.move-in-bottom {
	animation: moveInBottom 1s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
